@import url('https://fonts.googleapis.com/css2?family=Indie+Flower&display=swap');


/* base style */
body {
  background-image: url("https://pixabay.com/get/g8576ee10f9d215bcf77127cd573c76a9a65f800b9cea4fb6bd723b7e551fcc053f37d4f23f41357b1f95e9ac5010e3ed63d65b44e6dbca2bb2f6420a5af8d10f_1280.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  font-family: Indie Flower;
  margin: 0;
  font-size: 1.5rem;
  text-align: center;
  color: #fff;
}